# IDEs
.idea
.vscode

# Docker Secrets
secrets

# Config
config/**/*.env
!config/**/*.dist.env
config/traefik/acme.json
config/traefik/*.yml
!config/traefik/*.dist.yml
config/mtg/*.toml
!config/mtg/*.dist.yml

# Stacks
stacks/*.yml
!stacks/*.dist.yml
docker-compose.yml
